/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: brown; 
    border-radius: 2em;
  }
  
  /* The Overlay (background) */
  .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */  
      display: flex;
      flex-direction: row; 
      height: 0%;
      width: 100%;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgb(0,0,0); /* Black fallback color */
      background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
      align-items: center;
    }
    
    .img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    
    /* Position the close button (top right corner) */
    .overlay .closebtn {
      text-decoration: none;
      color: white;
      position: absolute;
      top: 0px;
      right: 3px;
      font-size: 50px;
    }
    
    
    
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
  
  
  
  
  #pa-1 {
    height: 92%;
    width: 54%;
    background-color: rgba(236, 196, 76, 1);
    border-radius: 2.5em;
    padding: 2.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    overflow: auto;
    margin: 0px;
  }
  
  #pa-2 {
    height: 92%;
    width: 36%;
    background-color: rgba(236, 196, 76, 1);
    border-radius: 2em;
    padding: 2.5%;
    font-family: 'Chilanka', cursive;
    font-size: 1.25rem;
    overflow: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  
  #myNav5 {
    display: flex;
    justify-content: space-around;
  }
  
  #pa-2 > img {
    height: 40vh;
    width: 45vh;
    border: 5px solid brown;
  }
  
  